<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Chat app Index.ejs</title>
</head>
<body>
  <%- include('partials/header.ejs')  %> 
  <h3>Choose a username</h3>
  <form action="/setname" method="post">
    <input type="text" name="userName">
    <button>Create Username</button>
  </form>


  
</body>
</html>