<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>views-pages-chat.ejs</title>
</head>
<body>
  <script src="/scripts/polling.js"></script>
  <h3>Logged in as: <%= userName %></h3> 
  <form action="/messages" method="POST">
    <input type="text" required name="newmessage">
    <button>Create new message</button>
  </form>
  <div>
     <% if(!messages){%> 
      <p> No message </p>
      <% }else{ %> 
        <% for(let message of messages){ %>  
          <%- include('../partials/message.ejs', {message})%>   
          
    <% }} %> 

    
  </div>
 
</body>

</html>